<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nw.phantomConfig" type="LC.Framework.Phantom.Configuration.PhantomConfigurationHandler, NextWay.Framework.PhantomV2" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <!--TESTE-->
  <!--<nw.phantomConfig connLibrary="SqlClient" connString="Server=DEV01;Initial Catalog=clube_20170408_dev;User Id=sa;PWD=lcmaster0000;" dbDateFormat="dd/MM/yyyy" dbTimeFormat="HH:mm:ss" isEncryptedConnString="false" allStringsUpperCase="true" />-->

  <!--PRODUCAO-->
  <nw.phantomConfig connLibrary="SqlClient" connString="Server=SQL5.IPHOTEL.COM.BR,9104;database=dados_791;user id=clubeazul;pwd=d05be078" dbDateFormat="dd/MM/yyyy" dbTimeFormat="HH:mm:ss" isEncryptedConnString="false" allStringsUpperCase="true" />
  
  <connectionStrings>
    <!--TESTE-->
    <!--<add name="Contexto" providerName="System.Data.SqlClient" connectionString="Server=DEV01;Initial Catalog=clube_20170408_dev;User Id=sa;PWD=lcmaster0000;Pooling=False" />-->

    <!--PRODUCAO-->
    <add name="Contexto" providerName="System.Data.SqlClient" connectionString="Server=SQL5.IPHOTEL.COM.BR,9104;database=dados_791;user id=clubeazul;pwd=d05be078" />
  </connectionStrings>
  <appSettings>
    
    <add key="logoUrl__" value="http://sysdemo2.iphotel.info/__back/Images/clubevoce.png" />
    <add key="logoUrl" value="http://clubeazul.iphotel.info/Images/clubeazul.png" />
    <!--<add key="boletoUrl" value="http://sysdemo2.iphotel.info/__back/boleto/boleto_itau.php" />-->
    <add key="boletoUrl" value="http://clubeazul.iphotel.info/boleto/boleto_itau.php" />
    <add key="boleto2Url" value="http://clubeazul.iphotel.info/boleto/boleto2_itau.php" />
    <add key="appUrl" value="http://localhost:14230/" />
    <add key="tipoNossoNumero" value="itau" />

    <add key="appImportCaminhoFisico" value="C:\LCProjects\MedProj\www\files\import\" />
    <add key="appRemessaCaminhoFisico" value="C:\LCProjects\MedProj\www\files\remessa\" />

    <add key="cartaoNumeroInicial" value="63708700300000" />

    <add key="AnexosTemp" value="/files/temp/" />

    <add key="mailFrom" value="noreply@sysdemo.com.br" />
    <add key="mailFromName" value="Clube Azul" />
    
    <add key="senhaMaster" value="@tend1m3n" />

    <add key="taxaBoleto" value="1,90" />

    <add key="cedenteCNPJ" value="18.386.464/0001-43" />
    <add key="cedenteNOME" value="Clube Azul Vida Saudavel de Beneficios" />
    <add key="cedenteAG" value="9108" />
    <add key="cedenteAGDV" value="0" />
    <add key="cedenteCONTA" value="09882" />
    <add key="cedenteCONTADV" value="4" />
    <add key="cedenteCARTEIRA" value="109" />
    <add key="cedenteLOCALPAGTO" value="Preferencialmente no banco Itaú" />
    <add key="cedenteInstrucaoBoleto" value="Preferencialmente no banco Itaú" />
    
  </appSettings>

  <location path="boleto.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="orientador/default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="trocarsenha/default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.net>
    <mailSettings>
      <smtp>
        <!--<network host="smtp.clubeazul.org.br" userName="contato@clubeazul.org.br" password="cont@to1" />-->
        <network host="smtp.sysdemo.com.br" userName="noreply@sysdemo.com.br" password="teste@@1" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime maxRequestLength="153600" executionTimeout="900" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <globalization culture="pt-BR" uiCulture="pt-BR" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" fileEncoding="iso-8859-1" />
    <pages theme="padrao" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="None">
      <forms loginUrl="~/login.aspx" timeout="2880" defaultUrl="~/" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="540">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength = bytes http://stackoverflow.com/questions/11402356/mvc3-uploadify-jquery-plugin-error-http-404-and-io-error -->
        <requestLimits maxAllowedContentLength="100000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.5.0.0" newVersion="0.5.0.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://sysdemo.iphotel.info/__mailsrv/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="MailSrv.IService1" name="BasicHttpBinding_IService1" />
    </client>
    
    
  </system.serviceModel>
</configuration>