<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nw.phantomConfig" type="LC.Framework.Phantom.Configuration.PhantomConfigurationHandler, NextWay.Framework.PhantomV2" />
  </configSections>

  <nw.phantomConfig connLibrary="SqlClient" connString="Server=SQL5.IPHOTEL.COM.BR,9104;database=dados_791;user id=clubeazul;pwd=d05be078;timeout=1999999999" dbDateFormat="dd/MM/yyyy" dbTimeFormat="HH:mm:ss" isEncryptedConnString="false" allStringsUpperCase="true" />

  <connectionStrings>
    <add name="Contexto" providerName="System.Data.SqlClient" connectionString="Server=SQL5.IPHOTEL.COM.BR,9104;database=dados_791;user id=clubeazul;pwd=d05be078;Pooling=False;timeout=1999999999" />
  </connectionStrings>

  <appSettings>
    <add key="logoUrl" value="http://clubeazul.iphotel.info/Images/clubevoce.png" />
    <!--
    <add key="boletoUrl"  value="http://clubeazul.iphotel.info/boleto/boleto_itau.php" />
    <add key="boleto2Url" value="http://clubeazul.iphotel.info/boleto/boleto2_itau.php" />
    -->
    <add key="boletoUrl"  value="http://sispag.clubeazul.org.br/boleto/boleto_itau.aspx" />
    <add key="boleto2Url" value="http://sispag.clubeazul.org.br/boleto/boleto_itau.aspx" />
    <add key="appUrl" value="http://clubeazul.iphotel.info/"/>
    <add key="tipoNossoNumero" value="itau" />

    <add key="appImportCaminhoFisico" value="C:\LCProjects\MedProj\www\files\import\"/>
    <add key="appImportProcCaminhoFisico" value="C:\LCProjects\MedProj\www\files\importProc\"/>
    <add key="appExportKitCaminhoFisico" value="C:\LCProjects\MedProj\www\files\exportKit\"/>
    <add key="appExportCartaoCaminhoFisico" value="C:\LCProjects\MedProj\www\files\export\"/>

    <add key="AnexosTemp" value="/files/temp/" />

    <add key="cartaoNumeroInicial" value="63708700300000"/>

    <add key="fazerDownload" value="true"/>

    <add key="ftp"    value="ftp://186.233.88.163/web/files/export/" />
    <add key="ftpKit" value="ftp://186.233.88.163/web/files/exportKit/" />
    <add key="ftpLogin" value="clubeazul" />
    <add key="ftpSenha" value="d05be078" />
  
    <add key="mailFrom" value="noreply@sysdemo.com.br" />
    <add key="mailFromName" value="Clube Azul" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp>
        <!--<network host="smtp.clubeazul.org.br" userName="contato@clubeazul.org.br" password="cont@to1" />-->
        <network host="smtp.sysdemo.com.br" userName="noreply@sysdemo.com.br" password="teste@@1" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>